extends layout

block content

  p Welcome to our club. Below are the reviews that our members have given about us !

  div.comment-list
    p=title
    if user   
      p #{user.user_name}
    dl.comments
      each comment in comments 
        dd.commentComment #{comment.comment}
        dt.commentInfo 
          a(href=comment.user.url) #{comment.user.user_name} 
          p #{comment.date_added_formatted}
        
           
  
