extends layout

block content

  .container-index
    if(signedInUser)
        .comment-form 
          .comment-form-title 
            div Give us your review
          form(method="POST" action="")
            .form-group 
                input#user.form-control(type="hidden" value=`${signedInUser._id}` name="user" required="true")
            .form-group.textarea
                label(for="comment") Comment:
                textarea#comment.comment-input( name="comment" rows="4" cols="50" required="true")
            button(type="submit") Add Comment

    div.welcome-msg Welcome to our club. Below are the reviews that our members have given about us !

    div.comment-list
      h1 User reviews:
      dl.comments
        each comment in comments 
          .comment 
            dd.commentComment #{comment.comment}
            dt.commentInfo 
              if signedInUser 
                if (signedInUser.status === "Member" || signedInUser.status === "VIP")
                  div.commentInfo_userName
                    div Author: #[a(href=comment.user.url) #{comment.user.user_name}]  
                else 
                  div.commentInfo_userName
                    div Author:Hidden    
              else
                div.commentInfo_userName
                  div Author: Hidden   
              div.commentInfo_datePublished
                 div #{comment.date_added_formatted}





            



            

           
  
